<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zixishi.zhanwei.mapper.AreaMapper">
    <resultMap id="areaMap" type="Area">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="amount" column="amount"/>
        <result property="image" column="image"/>
        <collection property="seatList" ofType="seat" select="com.zixishi.zhanwei.mapper.SeatMapper.findSeatByArea"  column="id">
        </collection>
    </resultMap>

<!--    <select id="findSeat" resultType="seat">-->
<!--        select * from seat where area_id = #{id}-->
<!--    </select>-->


    <select id="findOne" resultMap="areaMap">
        select * from area where id = #{id}
    </select>


    <select id="findAreaListByPackage" resultMap="areaMap">
        select area.* from area left join area_package ap on ap.area_id = area.id and ap.package_id = #{id}
    </select>

    <select id="search" resultMap="areaMap">
        select * from area
    </select>

</mapper>