<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zixishi.zhanwei.mapper.ClockMapper">
    <resultMap id="clockMap" type="clock">
        <id property="id" column="id"/>
        <result property="signinTime" column="signin_time"/>
        <result property="endTime" column="end_time"/>
        <result property="length" column="length"/>
        <result property="haveComment" column="have_comment"/>

        <association property="user" column="user_id" javaType="user" select="getUser">
            <id property="id" column="id"/>
            <result property="username" column="username"/>
            <result property="phone" column="phone"/>
            <result property="avator" column="avator"/>
            <result property="gender" column="gender"/>
            <result property="balance" column="balance"/>
            <result property="password" column="password"/>
        </association>
        <association property="reservation" column="reservation_id" javaType="reservation" select="getReservation">
            <id property="id" column="id"/>
            <result property="startTime" column="start_time"/>
            <result property="endTime" column="end_time"/>
            <result property="book_date" column="bookDate"/>
            <result property="have_using" column="haveUsing"/>
            <result property="pay_amount" column="payAmount"/>
            <result property="cancel_reason" column="cancelReason"/>
        </association>
        <association property="seat" column="seat_id" javaType="seat" select="getSeat">
            <id property="id" column="id"/>
            <result property="enabled" column="enabled"/>
            <result property="seatName" column="seat_name"/>
            <result property="description" column="description"/>
        </association>
    </resultMap>

    <select id="getUser" resultType="user">
        select * from user where id = #{id}
    </select>
    <select id="getReservation" resultType="Reservation">
        select * from reservation where id = #{id}
    </select>
    <select id="getSeat" resultType="seat">
        select * from seat where id = #{id}
    </select>


    <select id="search" resultMap="clockMap">
        select * from clock
    </select>

    <select id="searchEndTimeIsNull" resultMap="clockMap">
        select * from clock where end_time is null
    </select>

    <select id="searchByReservation" resultMap="clockMap">
        select * from clock where reservation_id = #{id}
    </select>


    <insert id="save" parameterType="clock">
        insert into clock
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="seat != null">
                seat_id,
            </if>
            <if test="user != null">
                user_id,
            </if>
            <if test="signinTime != null">
                signin_time,
            </if>
            <if test="endTime != null">
                end_time,
            </if>
            <if test="length != null">
                length,
            </if>
            <if test="reservation != null">
                reservation_id,
            </if>
            <if test="haveComment != null">
                have_comment,
            </if>
        </trim>

        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="seat != null">
                #{seat.id},
            </if>
            <if test="user != null">
                #{user.id},
            </if>
            <if test="signinTime != null">
                #{signinTime},
            </if>
            <if test="endTime != null">
                #{endTime},
            </if>
            <if test="length != null">
                #{length},
            </if>
            <if test="reservation != null">
                #{reservation.id},
            </if>
            <if test="haveComment != null">
                #{haveComment},
            </if>
        </trim>
    </insert>


    <update id="update" parameterType="clock">
        update clock
        set end_time = #{endTime}
        , length  = #{length}
        where id = #{id}
    </update>


    <select id="searchBySeat" resultMap="clockMap">
        select * from clock where seat_id = #{seatId} and end_time is null
    </select>
</mapper>
