<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zixishi.zhanwei.mapper.PermissionMapper">


    <select id="findByUser" resultType="java.lang.String">
            select path from permission where id in (select permission_id from role_permission where role_id in(SELECT role_id FROM `account_role` where account_id = #{id}))
     </select>




    <select id="findByPath" resultType="java.lang.Boolean">
            select free from permission where path = #{path};
     </select>

    <select id="searchPath" resultType="permission">
        select * from permission
    </select>

    <insert id="save">
        insert into permission (id,path,free) values (null,#{path},1)
    </insert>


    <insert id="bind">
        insert into role_permission
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="role != null">
                role_id,
            </if>
            <if test="permission != null">
                permission_id,
            </if>
        </trim>

        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="role != null">
                #{role.id},
            </if>
            <if test="permission != null">
                #{permission.id},
            </if>
        </trim>
    </insert>


    <select id="searchByRole" resultType="permission">
        select * from permission where id in (select permission_id from role_permission where role_id = #{id})
    </select>


    <select id="attach" resultType="permission">
        select * from permission where path = #{path}
    </select>
</mapper>