<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zixishi.zhanwei.mapper.ReservationMapper">
    <resultMap id="reservationMap" type="Reservation">
        <id property="id" column="id"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <result property="book_date" column="bookDate"/>
        <result property="have_using" column="haveUsing"/>
        <result property="pay_amount" column="payAmount"/>
        <result property="cancel_reason" column="cancelReason"/>
        <result property="return_money" column="returnMoney"/>
        <association property="seat" column="seat_id" javaType="seat" select="getSeat">
            <id property="id" column="id"/>
            <result property="enabled" column="enabled"/>
            <result property="seatName" column="seat_name"/>
        </association>
        <association property="user" column="user_id" javaType="user" select="getUser">
            <id property="id" column="id"/>
            <result property="username" column="usernmae"/>
            <result property="phone" column="phone"/>
            <result property="avator" column="avator"/>
            <result property="createTime" column="create_time"/>
            <result property="gender" column="gender"/>
            <result property="balance" column="balance"/>
        </association>
    </resultMap>

    <select id="getSeat" resultType="seat">
        select * from seat where id = #{id}
    </select>
    <select id="getUser" resultType="user">
        select * from user where id = #{id}
    </select>

    <select id="searchNow" resultMap="reservationMap">
        SELECT * FROM `reservation` where start_time &lt; now()  and end_time &gt; now() and book_date = #{today}
    </select>

    <select id="searchByDate" resultMap="reservationMap">
        SELECT * FROM `reservation` where book_date = #{time} and ((start_time &lt;= #{afterTime} and end_time &gt; #{afterTime} ) or (start_time &lt; #{endTime} and end_time &gt;= #{endTime}) or (start_time &gt;=#{afterTime} and end_time &lt;= #{endTime}) )
    </select>

    <select id="get" resultMap="reservationMap">
        select * from reservation where id = #{id}
    </select>


    <insert id="save">
        insert into reservation
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="seatId != null">
                seat_id,
            </if>
            <if test="startTime != null">
                start_time,
            </if>
            <if test="endTime != null">
                end_time,
            </if>
            <if test="areaId != null">
                area_id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="reservationDate != null">
                book_date,
            </if>
            <if test="using != null">
                have_using,
            </if>
            <if test="money != null">
                pay_amount,
            </if>
        </trim>

        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="seatId != null">
                #{seatId},
            </if>
            <if test="startTime != null">
                #{startTime},
            </if>
            <if test="endTime != null">
                #{endTime},
            </if>
            <if test="areaId != null">
                #{areaId},
            </if>
            <if test="userId != null">
                #{userId},
            </if>
            <if test="reservationDate != null">
                #{reservationDate},
            </if>
            <if test="using != null">
                #{using},
            </if>
            <if test="money != null">
                #{money},
            </if>
        </trim>
    </insert>


    <select id="searchBySeatAndDate" resultType="com.zixishi.zhanwei.dto.ReservationBySeatDTO">
        select r.start_time,r.end_time,u.username,r.have_using,r.id,r.cancel_reason from reservation r  left join user u on u.id = r.user_id  where book_date = #{date} and seat_id = #{seatId}
    </select>

    <select id="countBySeatAndDate" resultType="long">
        select count(*) from  reservation r  left join user u on u.id = r.user_id  where book_date = #{date} and seat_id = #{seatId}
    </select>


    <select id="findByUser" resultMap="reservationMap">
                select * from reservation where user_id = #{userId} and have_using is true and ((start_time &gt; now() and book_date = #{bookDate})

            or (book_date &gt;  #{bookDate}))
    </select>


    <select id="countByUser" resultType="long">
                  select count(*) from reservation where user_id = #{userId} and have_using is true and ((start_time &gt; now() and book_date = #{bookDate})

            or (book_date &gt;  #{bookDate}))
    </select>




    <select id="findCancelByUser" resultMap="reservationMap">
        select * from reservation where user_id = #{id}
        and have_using = false
        <if test="bookDate != null">
            and book_date = #{bookDate}
        </if>
    </select>




    <select id="findFinishByUser" resultMap="reservationMap">
        select * from reservation where user_id = #{id} and have_using is true   and ((end_time &lt;= now() and book_date = #{bookDate})

            or (book_date &lt; #{bookDate}))
        <if test="searchDate != null">
            and book_date = #{searchDate}
        </if>
    </select>

    <select id="countFinishByUser" resultType="long">
              select count(*) from reservation where user_id = #{id} and have_using is true   and ((end_time &lt;= now() and book_date = #{bookDate})

            or (book_date &lt; #{bookDate}))
        <if test="searchDate != null">
            and book_date = #{searchDate}
        </if>


    </select>

    <select id="countCancelByUser" resultType="long">
        select count(*) from reservation where user_id = #{id}
        and have_using is false
        <if test="bookDate != null">
            and book_date = #{bookDate}
        </if>
    </select>


    <update id="cancel">
        update reservation set have_using = false , cancel_reason = #{reason} ,return_money = #{returnMoney} where id = #{id}
    </update>


    <select id="searchByStartAndEndAndArea" resultMap="reservationMap">
        select * from reservation where book_date &gt; #{searchStartDate} and book_date &lt; #{searchEndDate} and area_id = #{id}
    </select>

    <select id="searchByUserAndToday" resultMap="reservationMap">
        select * from reservation where user_id = #{id} and book_date = #{today} and have_using is true
    </select>



</mapper>